{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <main>
        <div class="site-section">
            <div class="container">
                <div class="row justify-content-center">
                    <form class="form-inline" method="post">
                        {% csrf_token %}
                        <h3 class="text-success"><span class="icon-create_new_folder mr-1"></span></h3>
                        <div class="form-group mx-sm-3 mb-2">
                            {{ category_form.name }}
                        </div>
                        <button type="submit" class="btn btn-dark mb-2" name="category_form">Add Category</button>
                    </form>
                </div>
                <hr/>
                <div class="row row-cols-1 row-cols-md-3">
                    {% if categories %}
                        {% for category in categories %}
                            <div class="col">
                                <div class="card text-white {{ cat_color | random }} mb-3">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ category.name | capfirst }}</h5>
                                        <a href="{% url 'category' category.slug %}"
                                           class="btn btn-light btn-sm">View</a>
                                        <button type="button" class="btn btn-sm float-right" data-toggle="modal"
                                                data-target="#deleteModal{{ category.pk }}">
                                            <span class="icon-trash"></span>
                                        </button>
                                        <div class="modal fade text-dark" id="deleteModal{{ category.pk }}"
                                             tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="DeleteModalLabel">Delete
                                                            Category</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete this category?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <form action="{% url 'delete_category' category.pk %}"
                                                              method="post">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-danger">Delete</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No categories found</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

