{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <main>
        <div class="site-section">
            <div class="row">
                <div class="col">
                    <div class="form-content my-3 p-3">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-5">
                                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                                        <div class="card-header justify-content-center">
                                            <h3 class="font-weight-light my-4 text-center">Edit Profile:</h3>
                                        </div>
                                        {% if profile_form.errors %}
                                            <div class="alert alert-danger alert-dismissible" role="alert">
                                                <div id="form_errors">
                                                    {% for key, value in profile_form.errors.items %}
                                                        <strong>{{ value }}</strong>
                                                    {% endfor %}
                                                </div>
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        {% endif %}

                                        <div class="card-body">
                                            <form method="POST">
                                                {% csrf_token %}
                                                <div class="form-row">
                                                    <div class="col-md-10 offset-md-1">
                                                        <div class="form-group">
                                                            <label class="small mb-1" for="edit_profile">First
                                                                name</label>
                                                            {{ profile_form.first_name }}
                                                            <span>
                                                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-10 offset-md-1">
                                                        <div class="form-group">
                                                            <label class="small mb-1" for="edit_profile">Last
                                                                Name</label>
                                                            {{ profile_form.last_name }}
                                                            <span>
                                                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-10 offset-md-1">
                                                        <div class="form-group">
                                                            <label class="small mb-1"
                                                                   for="id_new_password2">Email</label>
                                                            {{ profile_form.email }}
                                                            <span>
                                                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-10 offset-md-1">
                                                        <div class="form-group">
                                                            <a href="/password-change/">Change password</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-10 offset-md-1">
                                                        <div class="form-group mt-0 mb-1">
                                                            <button type="submit" class="col-md-12 btn btn-dark"
                                                                    name="profile_form">
                                                                Update
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <hr/>
                                    <p class="text-dark text-center">Backup All Bookmarks</p>
                                    <form method="get" action="{% url 'backup' %}">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-md-10 offset-md-1">
                                                <div class="form-group mt-0 mb-1">
                                                    <button type="submit" class="col-md-12 btn btn-secondary"
                                                            name="backup_form">
                                                        Backup
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <hr/>
                                    <p class="text-dark text-center">Restore From Backup</p>
                                    <form method="post" action="{% url 'restore' %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-md-10 offset-md-1">
                                                <div class="input-group mt-0 mb-1">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="inputGroupFile04"
                                                               aria-describedby="inputGroupFileAddon04" name="csv_file">
                                                        <label class="custom-file-label" for="inputGroupFile04">Choose
                                                            file</label>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="submit"
                                                                id="inputGroupFileAddon04">Upload
                                                        </button>
                                                    </div>
                                                    <script>
                                                        document.querySelector('.custom-file-input').addEventListener('change',function(e){
                                                            var fileName = document.getElementById("inputGroupFile04").files[0].name;
                                                            var nextSibling = e.target.nextElementSibling
                                                            nextSibling.innerText = fileName
                                                        })
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <hr/>
                                    <p class="text-dark text-center">Export Bookmarks to HTML</p>
                                    <form method="get" action="{% url 'export' %}">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-md-10 offset-md-1">
                                                <div class="form-group mt-0 mb-1">
                                                    <button type="submit" class="col-md-12 btn btn-secondary"
                                                            name="export_form">
                                                        Export
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}