{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <main>
        <div class="site-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <div class="row">
                            <h6 class="text-secondary">Results {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ page_obj.paginator.count }}</h6>
                        </div>
                        <hr/>
                        {% include "_items/objects.html" %}
                    </div>
                </div>
                <nav aria-label="Page navigation">
                    {% if page_obj.has_other_pages %}
                        <ul class="pagination justify-content-center pagination-sm flex-sm-wrap">
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode }}&page=1">First</a></li>
                            {% endif %}
                            {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link">{{ i }} <span class="sr-only">(current)</span></a>
                                    </li>
                                {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                                    <li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode }}&page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">Next</a></li>
                                <li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.paginator.num_pages }}">Last</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </nav>
            </div>
        </div>
    </main>
{% endblock %}